<!doctype html>
<html>
  <head>
    <title>Image Picker | RAWFlash</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>

    <script>
      $(function() {

        $.getJSON(window.location.origin + "/ajax/get_albums_for_user", function(data) {
          $('#album_list').clear();
          
          data.forEach(function(listItem) {
            var templateString = `
                  <li class="w3-bar">
                    <span class="w3-bar-item w3-button w3-xlarge w3-right">&#8250;</span>
                    <img src="img_avatar2.png" class="w3-bar-item w3-circle" style="width:85px">
                    <div class="w3-bar-item">
                      <span class="w3-large">{{album_name}}</span><br>
                      <span>{{album_description}}</span>
                    </div>
                  </li>
            `;
            templateString.replace("{{ album_name }}", listItem.album_name);
            templateString.replace("{{album_description}}", listItem.album_description);
            var liDOMObject = $($.parseHTML(templateString));
            $('#album_list').append(liDOMObject);
          });
        })
      });
    </script>
  </head>

  <body>
    <header class="w3-container w3-center w3-teal">
      <h1>Welcome to RAWFlash</h1>
    </header>
    <div class="w3-container w3-green">
      <h2>Albums</h2>
      <p>Here are your albums. Click on one to view and edit images.</p>
    </div>
    <ul class="w3-ul w3-hoverable" id="album_list">
      <p>No Albums Found</p>
    </ul>
  </body>


</html>
