{% load static %}
<!doctype html>
<html>

<head>
    <title>Image Picker | RAWFlash</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="{% static 'client/app.js' %}"></script>
</head>

<body>
    {% csrf_token %}
    <script type="text/javascript">
        // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>
    <header class="w3-container w3-center w3-teal">
        <h1>Welcome to RAWFlash</h1>
    </header>
    <div id="page-container">
        <div class="w3-container w3-green">
            <button class="w3-button w3-teal w3-xlarge w3-right" onclick="window.ImagePicker.addAlbum()">Add</button>
            <h2>Albums</h2>
            <p>Here are your albums. Click on one to view and edit images.</p>
        </div>

        <ul class="w3-ul w3-hoverable" id="album_list">
            <p>No Albums Found</p>
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.12.12/sweetalert2.all.min.js"></script>
</body>


</html>