{% extends "base.html" %} {% block content %}
<div class="w3-panel">
    <h1>RAWFlash: A powerful Web-based RAW image editor</h1>
    <p>
        Ever wanted to edit RAW images using just a web browser, knowing that system requirements are no longer an important thing? Then welcome to our web application.
    </p>
</div>
<div class="w3-panel w3-center">
    <a class="w3-button w3-jumbo w3-green w3-margin-right" href="login/">Login</a>
    <a class="w3-button w3-jumbo w3-green w3-margin-left" href="register/">Register</a>
</div>
{% endblock %}